
   
@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}
a:hover {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* font styling  */
.font-faint {
  opacity: 0.6;
  font-weight: bold;
}
/* section title styling  */
.headertext {
  text-align: center;
  font-size: 41px;
  font-weight: bold;
}
/*for wrapper*/
.wrapper {
  max-width: 1536px;
  width: 92.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  background-color: #414C52;
}
header .wrapper{
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 36px 54px 36px 30px;
  background-color: #DC6226;
  color: #ffffff;
}
 .logo h1 a {
   margin-left: 5px;
   transform: scale(1);
   color: #ffffff;
   font-size: 51px;
   font-weight: bold;
   line-height: 39px;

 }
 .logo h1::before {
   content: "\f268";
   font-family: "fontAwesome";
   font-size: 46px;
 }
.logo span {
  margin-left: 53px;
  display: block;
  color: #D9C6CC;
  font-size: 12px;
}
.hamburger,
.cross {
  padding-top: 20px;
  display: none;
  text-indent: -9999px;
}
.hamburger::before,
.cross::before {
  content: "\f0c9";
  color: #ffffff;
  font-family: "fontAwesome";
  float: right;
  text-indent: -257px;
}
.cross::before {
  content: "\f00d";
}
.header-section-menu {
  padding-top: 56px;
  flex-basis: 54%;
  box-sizing: border-box;
}
.header-section-menu ul {
  margin-left: 18px;
  display: flex;
  column-gap: 44px;
}
.header-section-menu ul li {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}
.header-section-menu ul li:nth-child(2):hover::after {
  content: "\f078";
  display: block;
  color: #DC6226;
  font-family: "fontAwesome";
}
.header-section-menu ul li a {
  color: #ffffff;
}
.header-section-menu ul li a:hover {
  transform: scale(1);
  color: #DC6226;
}
.about-submenu li{
  display: none;
}
.icons {
  padding: 48px 0;
  flex-basis: 15.5%;
  opacity: 0.4;
}
.icons a {
  padding-left:16.4px;
  text-indent: -9999px;
}

.icons a::before {
  content: "\f081";
  float: right;
  color: #ffffff;
  font-family: "fontAwesome";
  font-size: 28px;
  text-indent: 0;
}
.icons a:nth-child(2):before {
  content: "\f167";
}
.icons a:nth-child(3):before {
  content: "\f09e";
}
.icons a:nth-child(4):before {
  content: "\f082";
}
.icons a:nth-child(5):before {
  content: "\f0d4";
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner stuling here  */
.banner {
  position: relative;
}
.slider {
  width: 50%;
  padding: 20px 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #DC6226;
  color: #ffffff;
}
.slider h2 {
  width: 90%;
  font-size: 38px;
}
.slider-leftarrow,.slider-rightarrow {
  font-size: 60px;
  cursor: pointer;
}
/* banner styling ends  */
/* our focus styling starts  */
/* our focus styling starts  */
.our-focus {
  padding-top: 42px;
  padding-bottom: 93px;
}
.our-focus-blogs {
  display: flex;
  justify-content: space-between;
  column-gap: 77px;
}
.our-focus-blog {
  text-align: center;
}
.our-focus-blog figure {
  width: 50px;
  height: 50px;
  margin: auto;
  padding-bottom: 28px;  
}
.our-focus h2 {
  padding: 56px 0;
}
.our-focus-blog-header {
  width: 55%;
  margin: auto;
  display: block;
  font-size: 21px;
  font-weight: bold;
}
.our-focus-blog-content {
  margin-top: 27px;
}
.our-focus-blog-link {
  padding: 14px;
  margin-top: 28px;
  border: 1px solid #000000;
}
/* our focus styling ends  */
/* advice styling starts  */
.advice {
  padding: 68px;
  text-align: center;
  background-color: #E8EFF2;
}
.advice h2 {
  padding: 30px 0;
}
.advice .wrapper p {
  font-size: 23px;
  font-weight: bold;
}
.advice-photos {
  margin-top: 60px;
  display: flex;
  column-gap: 36px;
}
.advice-photos li {
  padding: 11px 11px 35px 11px;
  background-color: #ffffff;
  box-sizing: border-box;
}
.advice-photo-header {
  margin-top: 43px;
  color: #DC6226;
  font-size: 31px;
  font-weight: bold;
}
.advice-photo-capital {
  font-size: 38px;
}
.advice .wrapper .advice-photo-content {
  padding: 12px 0;
  font-weight: normal;
  font-size: 16px;
}
.advice-photo-link {
  text-indent: -9999px;
}
.advice-photo-link::before {
  content: "\f18e";
  margin-top: 2px;
  float: right;
  display: block;
  color: #000000; 
  font-family: "fontAwesome";
  font-size: 27px;
  text-indent: 0;
}
.advice-photo {
  position: relative;
}
.advice-photo:hover .overlay {display: block; }
/* advice styling ends  */
/* investment solution styling starts  */
.investment-solution {
  color: #ffffff;
}
.investment-solution-blogs {
  display: flex;
}
.investment-solution-blogs h2 {
  font-size: 37px;
  font-weight: bold;
}
.investment-solution-blog1,.investment-solution-blog2 {
  padding: 56px;
  background-color: #DC6226;
}
.investment-solution-blog-lists {
  margin-top: 30px;
  font-size: 21px;
}
.investment-solution-blog2 {
  background-color: #404B50;
}
.investment-solution-blog:nth-child(2) {
  background-color: #000000;
}
.investment-solution-blogs h2{
  font-size: 38px;
  font-weight: bold;
}
.investment-solution-blogs a {
  margin-top: 22px;
  padding: 15px;
  border: 3px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  text-decoration: none;
}
.investment-solution-blog-lists li {
  width: 55%;
  margin-bottom: 20px;
  line-height: 41px;
}
.investment-solution-blog-lists li::before {
  content: "\f013";
  margin-right: 25px;
  color: #ffffff;
  font-family: "fontAwesome";
  font-size: 15px;
}
.investment-brands {
  display: flex;
  align-items: center;
}
.investment-brands-left-arrow,.investment-brand-right-arrow {
  color: #000000;
  font-size: 46px;
  cursor: pointer;
}
/* investment solution styling ends  */
/* quick contact section starts here  */
.quick-contact {
  padding-top: 18px;
  background-color: #515C62;
}
.quick-contact .wrapper h2 {
  padding: 42px 0;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
}
.contact-form {
  position: relative;
}
.contact-form .wrapper{
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}
form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 45px;
}
.inputs {
  flex-basis: 31%;
}
.inputs li {
  width: 100%;
  margin-bottom: 4%;
}
.inputs input[type="text"] {
  width: 100%;
  height: 34px;
  padding-left: 14px;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.inputs input[type="text"]::placeholder,.textarea textarea {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.5;
}
label {
  display: none;
}
.textarea {
  flex-basis: 65%;
}
.textarea textarea {
  width: 100%;
  padding: 5px 0;
  border: 1px solid #ffffff;
  background-color: transparent;
}
.send-button {
  margin:1%  91.1%;
  font-size: 20px;
  font-weight: bold;
}
.send-button a {
  padding: 16px 30px;
  background-color: #DC6226;
  color: #ffffff;
}
.contact-info {
  padding: 155px 0;
  color: #ffffff;
  font-size: 21px;
}
.contact-info .wrapper {
   display: flex;
  align-items: center;
  column-gap: 57px;
}
.contact-content-title {
  font-size: 20px;
}
.contact-content-title a {
  transform: scale(1);
  color: #ffffff;
}
.contact-number {
  display: block;
  font-size: 26px;
}
.contact-contents {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.contact-icon {
  text-indent: -9999px;
}
.contact-icon::before {
    content: "\f041";
    padding: 20px 28px;
    float: right;
    border: 9px solid #6D717C;
    border-radius: 100%;
    background: #DC6226;
    color: #ffffff;
    font-family: "fontAwesome";
    font-size: 42px;
    text-indent: 0;
}
.contact-icon:nth-child(2)>a::before {
  content: "\f0e0";
}
.contact-icon:nth-child(3)>a::before {
  content: "\f095";
}
/* quick contact section ends here  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding-top: 4%;
  padding-bottom:14%;
  background-color: #404B51;
}
footer .wrapper {
  display: flex;
}
footer figure {
float: right;
}
.footer-logo {
  margin-top: 2%;
  flex-basis: 50%;
  color: #ffffff;
}
.logo-title {
  display: inline-block;
  font-size: 40px;
} 
.logo-title a {
  color: #ffffff;
}
.copyright {
  font-size: 15px;
  color: #ffffff;
}
.footer-icons {
  margin-top: 14px;
  display: block;
}
.footer-icons a {
  padding-right: 23px;
  text-indent: -9999px;
}
.footer-icons a::before {
  content: "\f174";
  float: right;
  color: #DC6226;
  font-family: "fontAwesome";
  font-size: 35px;
  text-indent: 0;
}
.footer-icons a:nth-child(2):before {
  content: "\f081";
}
.footer-icons a:nth-child(3):before {
  content: "\f167";
}
.footer-icons a:nth-child(4):before {
  content: "\f09e";
}
.footer-icons a:nth-child(5):before {
  content: "\f082";
}
.footer-icons a:nth-child(6):before {
  content: "\f0d4";
}
.map {
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  display: none; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .5s ease;
  background-color: #8fd0a5;
}
.capital {
  font-size: 40px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content span {
  font-size: 30px;
}
.map:hover .overlay {display: block; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
@media only screen and (max-width: 1440px) {
  .slider {
    top: 70%;
  }
  header .wrapper,.our-focus-blogs {
    flex-direction: column;
    row-gap: 20px;
  }
  .contact-form .wrapper {
    top: 0;
  }
  .contact-form figure {
    height: 70vh;
  }
  .contact-form figure img {
    height: 100%;
  }
  .send-button {
    margin-left: 0;
  }
}
@media only screen and (max-width: 1024px){
  .contact-form figure {
    height: 100vh;
  }
}
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
header .wrapper,.header-section-menu ul,.our-focus-blogs,.advice-photos,.investment-solution-blogs,.contact-info .wrapper,.contact-contents,footer .wrapper {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.header-section-menu ul,.our-focus-blogs,.advice-photos,.investment-solution-blogs,.contact-info .wrapper,footer .wrapper,.contact-contents {
  row-gap: 20px;
}
.header-section-menu ul li {
  width: 100%;
  padding: 10px;
  background-color: #000000;
}
.contact-info .wrapper {
  align-items: center;
}
.slider {
  padding-top: 0;
  top: 47.5%;
}
.slider h2 {
  font-size: 14px;
}

}
@media only screen and (max-width:768px) {
  .headertext {
    font-size: 33px;
  }
  .header-section-menu {
    padding-top: 16px;
    display: none;
  }
  .hamburger {
    display: block;
  }
  .icons {
    padding: 0;
  }
  .banner figure {
    height: 50vh;
  }
  .banner figure img {
    height: 100%;
  }
  .slider {
    top: 50%;
  }
  .slider-leftarrow,.slider-rightarrow {
    font-size: 14px;
  }
  .investment-solution-blog-lists li {
    width: 100%;
  }
  .footer-icons a::before {
    font-size: 34px;
  }
}
@media only screen and (max-width:480px) {
  .slider {
    top: 43%;
  }
}